html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, rgba(183, 204, 246, 0.651), rgba(3,49,68,100)), url("/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    margin: 0;
    position: relative;
    background-attachment: fixed;
    
}

.weather-header{    
    background: #00161f70;   
}

.row{
    display: flex;
    justify-content: center;
}
#search-city {
    padding-top: 20px;
    width: 60%;
}

#search-city h2{
    padding-bottom: 5px; 
}

.search-button {
    font-size: 20px;
    line-height: 30px;
    background-color: #00161fe0;
    color:white;
    text-align: center;
    vertical-align: bottom;
    border-radius: 0px 10px 10px 0px !important;
}

#search-input{
    border-radius: 10px 0px 0px 10px !important;
    border-style: none;
    text-align: center;
    opacity: 95%;
    outline: none;
    padding: 5px 15px;
}

.input-group:hover{
    box-shadow: 0px 0px 3px 3px  rgba(9, 24, 56, 0.315); 
    border-radius: 10px 10px 10px 10px !important; 
}  

#form-heading{
    color: black;
}

#location{
    padding-top: 20px;
    color: black;
    width: 120%;
    margin-top: 0.25rem!important;
}

.box{
    box-shadow: 4px 5px 15px  #00000083; 
    height: 170px;
    width: 700px;
    background: linear-gradient(45deg, rgba(183, 204, 246, 0.404), rgba(3,49,68,100)), url('./assets/images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    
.box h3{
    padding: 10px;
    font-weight: 500;
    color: whitesmoke;
    margin-left: 14px;
}

#location h3 {
    color: whitesmoke;
}
    
#form-heading{
    color: whitesmoke; 
}
    
ul {
    margin-top: -6px;
    overflow: auto;
    margin-left: -18px;
}
    
li {
    padding: 5px;
    list-style: none;
    color: whitesmoke;
}

#forecastD{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px !important;
}
    
#forecastD h3{
    color: whitesmoke;
    text-decoration: underline;
    
}

.weekF{
    display: flex;
    grid-template-columns: repeat(5,1fr) ;
    column-gap: 3%;
}
    
.weekF p{
    color: whitesmoke;
    margin-top: 10px;  
    flex-wrap: wrap;
    margin-left: 7px;
}  

.dayF{
    background-color:#4E7597 ;
    border-radius: 5px;
    height: 240px;
    width: 190px;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 15px;
    box-shadow: 4px 5px 15px  #00000083; 
}
    
.dayF p{
    color: whitesmoke;
}

.date{
    font-weight: bold;
}
    
img{
    display: block;
    margin-left: 58px;
    margin-right: auto;
}
    
.header-city{
    display: flex;
}
    
.date1, .date2, .date3, .date4, .date5{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: -12px !important;
}
    