html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, rgba(183,204,246,0.7), rgba(7,43,127,067)), url("/assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.weather-header{    
    background: rgba(9, 24, 56, 0.589);
    
}


#search-city {
    padding-top: 20px;
    /* float: left;
    margin: 0; */
    margin-left: -80px;
    width: 60%;
}

#search-city h2{
    padding-bottom: 5x;
    
}

.search-button {
    font-size: 20px;
    line-height: 30px;
    background-color:rgba(9, 24, 56, 0.767);;
    color:white;
    text-align: center;
    vertical-align: bottom;
    border-radius: 0px 10px 10px 0px !important;
}

#search-input{
    border-radius: 10px 0px 0px 10px !important;
    border-style: none;
    text-align: center;
    opacity: 95%;
    outline: none;
    padding: 5px 15px;
}

#search-input:hover{
    color:rgb(105, 17, 17) ;
    transition: all 0.3s ease-in-out; 
}
 /* .input-group{
    box-shadow: 0px 3px 3px #000;  
}   */
.input-group:hover{
    box-shadow: 0px 0px 3px 3px  rgba(9, 24, 56, 0.315); 
    border-radius: 10px 10px 10px 10px !important; 
}  
 

#form-heading{
    color: black;
}

